# 가상환경
venv/
.env/
env/

# Python bytecode 및 캐시
__pycache__/
*.py[cod]
*$py.class

# Pygame 관련 빌드 결과
build/
dist/
*.egg-info/

# IDE 및 에디터 설정 파일
.vscode/
.idea/
*.swp
*.swo

# 로그 파일
*.log

# 테스트 결과 파일
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py.cover

# 기타 OS 파일
.DS_Store
Thumbs.db
